@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Azeret Mono", monospace; */
*{
    margin: 0;
    padding: 0;
}

/* Banner/Header Styling */

.hdr-container{
    margin-top: 131px;
    width:1440;
    height: 800px;
    display: flex;
    /* border: 2px solid blue; */
    flex-direction: column;
    justify-content: center;
    background-image: url("./assets/Hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    gap:20px;
}

.hdr-img-container{
    /* border: 2px solid green; */
    height: 250.2px;
    width:250px;
    /* margin-bottom: 350px; */
    /* margin-left: 800px; */
    /* margin-right: 634px; */
    /* margin-top: 131px; */
}

.hdr-img-container img{
    width: 100%;
    height: 100%;
}

.hdr-title-container{
    display: flex;
    /* border: 2px solid rgb(0, 0, 246); */
    width:1000px;
    height: 150px;
    
}

.hdr-title-container p{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}

.hdr-desc-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgb(0, 0, 246); */
    width:50%;
    height: 60px;
    /* margin-bottom: 90px; */
}

.hdr-desc-container p{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace; 
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.hdr-btn-container{
    display: flex;
    /* margin-top: 10px; */
    justify-content: center;
    align-items: center;
    
    
}


.hdr-btn{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    height:70px ;
    width:250px ;
    color: rgb(255, 255, 255);
    font-family:  "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 21px;
    margin-top: 40px;
    
}

/* web-dev style */
#web-dev{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
   
    
}
.web-dev-container{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 1140px;
    height: 1100px;
    /* border: 2px solid green; */
    /* justify-content:center; */
    align-items: center;
    /* background-color: rgba(13, 19, 33, 0.02); */
   

}
.web-dev-title-container{
    width: 852px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid red; */

}

.web-dev-title-container p{
    color: rgb(13, 19, 33);
    font-family:  "Azeret Mono", monospace;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.web-dev-desc-container{
    width: 852px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid red; */
}

.web-dev-desc-container p{
    color: rgb(13, 19, 33);
    font-family:  "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.web-dev-card1-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 336px;
    /* border: 3px solid red; */
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin-top: 70px;
}

.web-dev-card1-left-side{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    /* border: 3px solid rgb(164, 248, 39); */
    padding: 40px;
}
.web-dev-card1-right-side{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 50%;
    /* border: 3px solid rgb(120, 255, 36); */
    
}

.web-dev-card1-left-side-title{
    width:60%;
}
.web-dev-card1-left-side-desc{
    width:70%;
}
.web-dev-card1-left-side-title p{
    color: rgba(13, 19, 33, 0.7);
    font-family:  "Azeret Mono", monospace;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.web-dev-card1-left-side-desc p{
    color: rgb(13, 19, 33);
    font-family:  "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
}

.web-dev-card1-left-side-btn-container{
    display: flex;
    justify-content: start;
    /* border: 3px solid rgb(240, 255, 33); */
    box-sizing: border-box;
    /* box-shadow: 20px; */
    /* border: 1px solid rgb(13, 19, 33); */
    opacity: 0.7;
    
}

.web-dev-btn{
    width: 150px;
    height: 50px;
    color: rgb(13, 19, 33);
    font-family:  "Azeret Mono", monospace;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    
    
}


.web-dev-card2-container{
    /* border: 3px solid rgb(35, 238, 221); */
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);

}

.web-dev-card2-left-container{
    
    display: flex;
    width: 27%;
    /* border: 3px solid rgb(235, 249, 37); */
    justify-content: start;
    align-items: center;
}

.web-dev-card2-right-container{
    display: flex;
    flex-direction: column;
    width:73%;
    gap:20px;
    /* border: 3px solid rgb(235, 249, 37); */

}

.web-dev-card2-right-title{
    width: 75%;
    padding-top: 40px;
}
.web-dev-card2-right-title p{
    color: rgba(13, 19, 33, 0.7);
    font-family:  "Azeret Mono", monospace;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.web-dev-card2-right-desc{
    width: 75%;
    /* padding-top: 10px; */
    /* padding-left: 30px; */
}

.web-dev-card2-right-desc p{
    color: rgb(13, 19, 33);
    font-family:  "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
}

.web-dev-card2-right-btn-container{
    /* padding-left: 30px; */
    opacity: 0.7;
}

.web-dev-card3-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 336px;
    /* border: 3px solid red; */
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    /* margin-top: 70px; */
}


/* Inspiration Section Styling */

#inspiration{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* border: 2px solid rgb(242, 255, 56); */
}
.inspiration-container{
    display: flex;
    flex-direction: column;
    width:1140px;
    height: 900px;
    /* border: 2px solid red; */
    align-items: center;
    gap: 25px;
}

.inspiration-title p{

    color: rgb(13, 19, 33);
    font-family:  "Azeret Mono", monospace;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.inspiration-desc p{
    color: rgb(13, 19, 33);
    font-family:  "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.inspiration-video{
    margin-top: 30px;
    padding: 30px;
    height: 600px;
    width:1076px;
    /* background-color: aqua; */
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}



/* Current Target Styling */

#current-target{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    margin-bottom: 30px;
}

.cur-target-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:1200px;
    height:550px;
    /* border: 2px solid rgb(142, 255, 29); */
    gap:20px;
}

.cur-target-title{
    height: 50px;
    width:860;
}
.cur-target-title p{
    color: rgb(13, 19, 33);
    font-family:  "Azeret Mono", monospace;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.cur-target-desc{
    height: 40px;
    width:860;
    margin-bottom: 58px;
}

.cur-target-desc p{
    color: rgb(13, 19, 33);
    font-family:  "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.cur-target-card-container{
    display: flex;
    /* flex-direction: column; */
    width:1200px;
    height:550px;
    /* border: 2px solid rgb(142, 255, 29); */
    gap:20px;
}

.cur-target-card{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 33%;
    height:350px;
    /* border: 2px solid rgb(255, 63, 29); */
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);

}

.card-logo-container{
    padding-left: 40px;
    padding-top: 40px;
    /* border: 2px solid rgb(86, 255, 29); */
}

.card-title-container{
    padding-left: 50px;
    /* border: 2px solid rgb(24, 27, 185); */
}
.card-title-container p{
    color: rgb(13, 19, 33);
    font-family:  "Azeret Mono", monospace;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    }

.card-desc-container{
    padding-left: 50px;
    /* border: 2px solid rgb(24, 27, 185); */
}  

.card-desc-container p{
    color: rgb(13, 19, 33);
    font-family:  "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

.card-footer-container{
    padding-left: 50px;
    /* border: 2px solid rgb(24, 27, 185); */
}
.card-footer-container a{
    color: rgb(13, 19, 33);
    font-family:  "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

.cur-target-card2{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 33%;
    height:350px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.cur-target-card3{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 33%;
    height:350px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.card-title-containerjs{
    padding-left: 40px;
}

.card-title-containerjs p{
    color: rgb(13, 19, 33);
    font-family:  "Azeret Mono", monospace;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.card-footer-containerjs{
    padding-left: 40px;
    /* border: 2px solid rgb(24, 27, 185); */
}
.card-footer-containerjs a{
    color: rgb(13, 19, 33);
    font-family:  "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

.card-desc-containerjs{
    padding-left: 40px;
    /* border: 2px solid rgb(24, 27, 185); */
}  

.card-desc-containerjs p{
    color: rgb(13, 19, 33);
    font-family:  "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}